html, body {
  margin: 0;
  font-family: "Times New Roman", Times, Arial, serif;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

.header {
  background-color: rgba(245, 245, 245, 0.1);
  box-shadow: 1px 1px 4px 0 rgba(245, 245, 245, 0.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: 1px 1px 4px 0 rgba(245, 245, 245, 0.1);
}

.header li a {
  display: block;
  border-right: 1px transparent;
  text-decoration: none;
  text-align: center;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(245, 245, 245, 0.1);
  color: white;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 1em;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header li a:hover {
    color: white;
  }
}
#hero {
  height: 100vh;
  background-image: url(/Assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  height: 100vh;
  padding-top: 200px;
  position: absolute;
}
.hero-container__title {
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-weight: bolder;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
}
.hero-container__text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4em;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
}

#icon-container-white {
  color: white;
  z-index: 4;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__container-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .footer__container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }
}
.footer__address {
  color: white;
  padding: 15px;
  align-items: align-items-left;
}
.footer__contact-info {
  color: white;
  padding: 15px;
}
.footer__icons {
  color: white;
  padding: 15px;
}

a:hover {
  color: black;
}

h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .content-card-container {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .img-container {
    width: 50%;
    display: flex;
  }
}
.img-container__name {
  font-weight: bold;
}
.img-container__img {
  box-shadow: gray 0 0 50px 1px;
  border-radius: 50%;
  width: 175px;
}
@media screen and (min-width: 1200px) {
  .img-container__img {
    box-shadow: gray 0 0 50px 1px;
    border-radius: 50%;
    width: 230px;
  }
}
.img-container__text {
  width: 300px;
  height: 150px;
  background-color: lightgray;
  border-radius: 7px;
  padding: 10%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
@media screen and (min-width: 1200px) {
  .img-container__text {
    width: 450px;
    height: 100px;
  }
}

.fa-quote-right {
  transform: scale(1, 1.2);
}

a {
  text-decoration: none;
  color: white;
}

.icon-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 20px;
  color: black;
}
@media screen and (min-width: 1200px) {
  .icon-container {
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
