@use "mixins";
@use "variables";


.img-container {
    @include mixins.center-column;

    &__name {
        font-weight: bold;
    }

    &__img {
        @include mixins.circle-img(230px);  
    }

    &__text {
        @include mixins.card-text;
    }

    span {
        font-size: 4em;
    }

    // @include mixins.tablet {
    //     .content-card-container{
    //         @include mixins.center-row;
    //     }

    //     .img-container{
    //         display: inline-block;
    //     }
    // }

    // @include mixins.tablet {

    //     .img-container{
    //         display: flex;
    //         flex: row

    //     }


    // }
}

a {
    text-decoration: none;
    color: variables.$light-text-color;
}

