@use "mixins";
@use "variables";

h2 {
    @include mixins.center-column;
    font-weight: bold;
    margin-top: variables.$h2-margin;
    margin-bottom: variables.$h2-margin;
}

.content-card-container {
    @include mixins.desktop {
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}

.img-container {
    @include mixins.center-cards;
    @include mixins.desktop {
        width: 50%;
        display: flex;
    }

    &__name {
        font-weight: bold;
    }

    &__img {
        @include mixins.circle-img(175px);
        @include mixins.desktop {
            @include mixins.circle-img(230px);   
        }
    
    }


    &__text {
        @include mixins.card-text;
        @include mixins.desktop {
            width: 400px;
            min-height: 100px;
        }
     }
    }

a {
    text-decoration: none;
    color: variables.$light-text-color;

    a:hover { color: black; }
}

.icon-container {
    @include mixins.arrow;
    color:black;

    @include mixins.desktop {
        padding-bottom: 25px;
    }
}
