@use "variables";
@use "mixins";


.footer {
    background-color: black;
    @include mixins.center-column;

    &__container-footer {
        padding-top: 30px;
        padding-bottom: 30px;

        @include mixins.dator {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100vw;
        }
    }

    &__address {
        color: variables.$light-text-color;
        padding: variables.$footer-padding;
        align-items: variables.$text-align-left;
    }

    &__contact-info {
        color: variables.$light-text-color;
        padding: variables.$footer-padding;
    }

    &__icons {
        color: variables.$light-text-color;
        padding: variables.$footer-padding;
    }

}

