@use "variables";

    @mixin telefon {
        @media screen and (min-width:variables.$small-screen) {
            @content;
        }
}

    @mixin dator {
        @media screen and (min-width:variables.$big-screen) {
            @content;
        }
}
        
    

// Bilder
@mixin circle-img($imgSize) {
    box-shadow: gray 0 0 50px 1px;
    border-radius: 50%;
    width: $imgSize;
    
}

// Texter

@mixin card-text {
    width: 300px;
    height:150px;
    background-color: lightgray;
    border-radius: 7px;
    padding: 10%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    // padding: 30px;
}





// Positionering

@mixin center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin center-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin center-column-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin center-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin slogan-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin icon-position {
    display: flex;
    justify-content: center;
}

// Hela element
@mixin arrow {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 20px;
    }
