// Mediaqueries

//  @mixin tablet {
//      @media screen and(min-width:768px;) {
//         @content;
//     }
//  }

// Bilder
@mixin circle-img($imgSize) {
    box-shadow: gray 0 0 50px 1px;
    border-radius: 50%;
    width: $imgSize;
    
}

// Texter

@mixin card-text {
    background-color: lightgrey;
    border-radius: 7px;
    padding: 10%;
    margin: 10%;
}




// Positionering
@mixin center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin center-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
}

// Färger


// Navbar

@mixin nav-desktop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

@mixin nav-links {
    list-style-type: none;
}