@use "variables";

     @mixin desktop {
         @media screen and (min-width:variables.$big-screen) {
             @content;
         }
 }

// Bilder
@mixin circle-img($imgSize) {
    box-shadow: gray 0 0 50px 1px;
    border-radius: 50%;
    width: $imgSize;

}

// Texter
@mixin card-text {
    width: 80%;
    min-height:80px;
    background-color: lightgray;
    border-radius: 7px;
    padding: 10%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Positionering
@mixin center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin center-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin center-column-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin center-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin icon-position {
    display: flex;
    justify-content: center;
}

// Hela element
@mixin arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 20px;
    }
