@use "variables";
@use "mixins";

html {
    // font-family: ;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Ovan ska vara i reset-fil sen!!!

#hero {
    height: 100vh;
    background-image: url(/Assets/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-position: top;
    @include mixins.center-column;
}

.hero-title {
    color: variables.$light-text-color;
}

.hero-text {
    color:variables.$light-text-color;
}

// footer {
// background-color:variables.$dark-bg;
// color: variables.$light-text-color;
// }
// Ska flyttas till ny scss-fil, _contact